<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.vdVirtualdogbetafrog.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Virtual Dog 4.0</name>

  <description>
     Dogsssssssssssssssssssssssssssssssssssss
  </description>

  <author href="https://build.phonegap.com" email="74coolwolf">
      74coolwolf
  </author>
    
    <icon src="icon.png" />

</widget>